@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  padding: 3rem;
  font-family: 'Poppins', sans-serif;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.heading {
  padding: 1rem 2rem;
  grid-column: 1/3;
}
.heading h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.heading p {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 2rem;
}
.aside {
  line-height: 5rem;
  padding: 3rem 2rem;
}
.aside li {
  list-style: none;
}
.aside li p {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}
.aside li span {
  color: #888;
}
.main .intro img{
    width: 100%;
}
.main .intro p{
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 2rem;
}
.image-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-items: stretch;
}
.footer {
    width: 60rem;
    margin: 5rem auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer .menu .nav a {
    text-decoration: none;
    color: #262626;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .footer .menu .nav i {
    margin: 0.5rem 0.1rem;
  }
  @media screen and (max-width:990px) {
 
    .header{
      display: grid;
      grid-template-columns: 1fr;
    }
    .image-box{
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 3rem;
    }
    .image-box img{
      max-width: 100%;
    }
  }